In [1]:
from urllib.request import urlopen
import pandas as pd
from bs4 import BeautifulSoup
import webbrowser
import numpy as np
import re

#### 종목뽑기

In [2]:
url ='https://lab.donutz.co/krx/products'
resultXML=urlopen(url)
result=resultXML.read()
soup=BeautifulSoup(result,'html.parser')
soup_string = str(soup)
regex = re.compile(r'(\d{6})')
code = regex.findall(soup_string)
code = [i for i in code]

In [3]:
len(code) # 총 코드

2959

#### 입력하기

In [5]:
#회사 종목
code='005930' 

#시작 날짜
start_date='20101101'

#끝 날짜
end_date = '20201116'

#### 한개의 종목 크롤링 코드

In [6]:
url ='https://lab.donutz.co/krx/products/'+code+'?sdate='+start_date+'&edate='+end_date
resultXML=urlopen(url)
result=resultXML.read()
soup=BeautifulSoup(result,'html.parser')
soup_string = str(soup)

def clean(data):
    text = re.sub('[a-zA-Z-=+#/\?^$@*\"※~&%ㆍ!_』:\\‘|\(\)\[\]\<\>`\'{}…》]', '', data)
    return text

text=re.split('[,]+',clean(soup_string))
information=[]
for i in text:
    information.append(i)
    
data=pd.DataFrame(np.array(information).reshape(-1,15))
data.columns=['date','open','high','low','close','trading_volume','score','index','probability','l1','l2','l3','l4','lgap','lrate']

#### 한개의 종목 data 부르기

In [7]:
data

,date,open,high,low,close,trading_volume,score,index,probability,l1,l2,l3,l4,lgap,lrate
0,20160622,28920,29000,28620,28900,8948250,1.36885245901639,0.75,16,129140,228950,328760,428570,570,2
1,20160623,28880,28900,28540,28600,11256300,0.933823529411765,0.473684210526316,1.67420814479638,128930,228750,328570,428390,540,2
2,20160624,28900,28900,27200,28000,20552600,1.23776223776224,0.666666666666667,10.7692307692308,129300,228450,327600,426750,2550,9
3,20160627,28000,28100,27700,27960,11839000,1.36885245901639,0.75,16,128230,228030,327830,427630,600,2
4,20160628,27800,28080,27580,27980,10718950,1.36885245901639,0.75,16,128280,228030,327780,427530,750,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,20200219,59800,60400,59400,60200,12924455,4.87142857142857,1,30,160800,260300,359800,459300,1500,2
898,20200220,60700,61300,59600,60000,14503879,3.57303370786517,1.5,49.2307692307692,161500,260650,359800,458950,2550,4
899,20200221,58800,59800,58500,59200,13252415,3.52222222222222,1.28571428571429,42.3076923076923,160150,259500,358850,458200,1950,3
900,20200224,57400,58100,57400,57800,7895962,5.53731343283582,1.33333333333333,44,158300,257950,357600,457250,1050,2
901,20200225,56200,58000,56200,57900,23031267,3.86734693877551,1.14285714285714,36.6371681415929,158850,257950,357050,456150,2700,5